
.table-card {
  width: 95%;
  height: 800px;
  max-height: 95%;
}



.result-header-processing {
  background: linear-gradient(to right, #4c2289, #fda31c);
  width:100%;
}

.result-header-error {
  background: linear-gradient(to right, #4c2289, #c10015);
}

.result-header-completed {
  background: linear-gradient(to right, #4c2289, #006ed4);
}

.table {
  height: 800px;
}

.selected-inference-info td {
  width: 90%;
  max-height: 50px;
}

.screenwide {
  max-width: 100%;
}

.screenwide .q-table {
  max-width: 100%;
  max-height: 100px;
}

.screenwide td {
  white-space: normal;
  word-wrap: normal;
  hyphens: manual;
}

.screenwide th {
  text-align: center;
}
